body{
    background-color:#0b161a;
}
.wrapper{
    width:330px;
    padding:2rem 1rem;
    margin:50px auto;
    background-color:#fff;
    border-radius:10px;
    text-align:center;
    box-shadow:0 20px 35px rgba(0,0,0,0.1);
}
.h1{
    font-size:2rem;
    color:#07001f;
    margin-bottom:1.2rem;
}
.button{
    font-size:1rem;
    margin-top:1.8rem;
    padding:10px 0;
    border-radius:20px;
    outline:none;
    border:none;
    width:90%;
    color:#fff;
    cursor:pointer;
    background:#ffc000;
}
.button:hover{
    cursor:pointer;
	background:#ffc000;
	box-shadow: 0 0 5px #ffc000,
	            0 0 20px #ffc000,
				0 0 60px #ffc000;
}
